<h1><%= title %></h1>

<%- messages() %>

<% if (errors && errors.array) { %>
  <ul class="errors">
    <% errors.array().forEach(function(error) { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<p>You're logged in.</p>