<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/inv/custom">Custom</a></li>
    <li><a href="/inv/sedan">Sedan</a></li>
    <li><a href="/inv/sport">Sport</a></li>
    <li><a href="/inv/suv">SUV</a></li>
    <li><a href="/inv/truck">Truck</a></li>
  </ul>
</nav>