<% if (title) { %>
  <h1><%= title %></h1>
<% } else { %>
  <h1>Inventory Management</h1>
<% } %>

<%- messages() %>

<% if (message && message.length) { %>
  <ul class="messages">
    <% message.forEach(function(m) { %>
      <li><%= m %></li>
    <% }) %>
  </ul>
<% } %>

<nav class="management-links">
  <ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
  </ul>
</nav>